<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Google font icons link -->
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,600,0,0"
    />
    <!-- Linking Hostpage css file -->
    <link rel="stylesheet" href="../../styles/HostPage.css" />
    <!-- Linking HostPage js file -->
    <script src="../../scripts/HostPage.js" defer></script>
    <title>Host your home on Airbnb</title>
  </head>
  <body>
    <!-- header starts here -->
    <header class="home__header">
      <a href="/" class="header__logo">
        <img
          src="../images/airbnb-secondary-logo.png"
          alt="Airbnb small logo"
          class="host__logo"
        />
      </a>
      <div class="host__options">
        <h2>Ready to Airbnb it?</h2>
        <button class="host__options--setup">Airbnb Setup</button>
      </div>
      <!-- header auth more options -->
      <% if(!data?.username) {%>
      <div class="header__options--auth-more-options auth--closed">
        <div class="auth-more-options__top">
          <button class="text_bold sign-up">Sign Up</button>
          <button class="login">Login</button>
          <div></div>
        </div>
        <div class="auth-more-options__bottom">
          <button><a href="/">See Others homes</a></button>
          <button><a href="/host/experience">Host an experience</a></button>
          <button><a href="/help">Help</a></button>
        </div>
      </div>
      <% } else { %>
      <div class="header__options--auth-more-options auth--closed">
        <div class="auth-more-options__top">
          <button class="text_bold">Messages</button>
          <button class="text_bold">Notificaions</button>
          <button class="text_bold">Trips</button>
          <button class="text_bold">WishList</button>
        </div>
        <div class="auth-more-options__bottom">
          <button><a href="/host/homes">Airbnb your home</a></button>
          <button><a href="/host/experience">Host an experience</a></button>
          <button><a href="#">Account</a></button>
        </div>
        <div class="auth-more-options__bottom">
          <button><a href="/help">Help</a></button>
          <button><a href="/auth/logout">Logout</a></button>
        </div>
      </div>
      <% } %>
    </header>

    <!-- login signup modal backdrop-->
    <section class="login-signup__modal__backdrop modal--closed">
      <!-- login signup modal -->
      <div class="login-signup__modal">
        <!-- login signup modal header -->
        <div class="login-signup__modal--header">
          <button class="close--modal">
            <span class="material-symbols-outlined icon-close"> close </span>
          </button>
          <h2 class="modal--header__heading">Log in or sign up</h2>
        </div>
        <!-- login form -->
        <form
          class="login-signup__form login"
          method="post"
          action="/host/auth/login"
        >
          <h2 style="text-align: center">Welcome to Airbnb</h2>
          <input type="email" placeholder="Enter your email" name="username" />
          <input
            type="password"
            placeholder="Enter your password"
            name="password"
          />
          <button type="submit" class="login-signup__form--submit--primary">
            Continue
          </button>
        </form>
        <!-- Sign up form -->
        <form
          class="login-signup__form signup login-signup__form--disabled"
          method="post"
          action="/host/auth/signup"
        >
          <h2>Welcome to Airbnb</h2>
          <input type="email" placeholder="Enter your email" name="username" />
          <input
            type="password"
            placeholder="Enter your password"
            name="password"
          />
          <input
            type="text"
            placeholder="Confirm your password"
            name="password2"
          />
          <button type="submit" class="login-signup__form--submit--primary">
            Continue
          </button>
        </form>
      </div>
    </section>

    <!-- main -->
    <main class="main">
      <section class="airbnb__it__setup">
        <h1>Airbnb it easily with Airbnb Setup</h1>
        <img src="../../images/host-home-img.webp" alt="Host home image" />
        <div class="setup__items">
          <div class="guidance setup__item">
            <h2>One-to-one guidance from a Superhost</h2>
            <p>
              We’ll match you with a Superhost in your area, who’ll guide you
              from your first question to your first guest – by phone, video
              call or chat.
            </p>
          </div>
          <div class="experienced__guest setup__item">
            <h2>An experienced guest for your first booking</h2>
            <p>
              For your first booking, you can choose to welcome an experienced
              guest who has at least three stays and a good track record on
              Airbnb.
            </p>
          </div>
          <div class="specialised__support setup__item">
            <h2>Specialised support from Airbnb</h2>
            <p>
              New Hosts get one-tap access to specially trained Community
              Support agents who can help with everything from account issues to
              billing support.
            </p>
          </div>
        </div>
      </section>

      <section class="air__cover__protection">
        <img src="../../images/air-cover-img.webp" alt="Air cover image" />
        <h1>Airbnb it with top‑to‑bottom protection</h1>
        <div class="protection__item">
          <div class="protection__name"></div>
          <div class="protection__airbnb">Airbnb</div>
          <div class="protection__competitors">Competetors</div>
        </div>
        <div class="protection__item">
          <div class="protection__name">Guest identity verification</div>
          <div class="protection__airbnb">
            <span class="material-symbols-outlined check__icon"> check </span>
          </div>
          <div class="protection__competitors">
            <span class="material-symbols-outlined close__icon"> close </span>
          </div>
        </div>
        <div class="protection__item">
          <div class="protection__name">Reservation screening</div>
          <div class="protection__airbnb">
            <span class="material-symbols-outlined check__icon"> check </span>
          </div>
          <div class="protection__competitors">
            <span class="material-symbols-outlined close__icon"> close </span>
          </div>
        </div>
        <div class="protection__item">
          <div class="protection__name">$3m USD damage protection</div>
          <div class="protection__airbnb">
            <span class="material-symbols-outlined check__icon"> check </span>
          </div>
          <div class="protection__competitors">
            <span class="material-symbols-outlined close__icon"> close </span>
          </div>
        </div>
        <div class="protection__item">
          <div class="protection__name text_bold">Art & valuables</div>
          <div class="protection__airbnb">
            <span class="material-symbols-outlined check__icon"> check </span>
          </div>
          <div class="protection__competitors">
            <span class="material-symbols-outlined close__icon"> close </span>
          </div>
        </div>
        <div class="protection__item">
          <div class="protection__name text_bold">Auto & boat</div>
          <div class="protection__airbnb">
            <span class="material-symbols-outlined check__icon"> check </span>
          </div>
          <div class="protection__competitors">
            <span class="material-symbols-outlined close__icon"> close </span>
          </div>
        </div>
        <div class="protection__item">
          <div class="protection__name text_bold">Pet damage</div>
          <div class="protection__airbnb">
            <span class="material-symbols-outlined check__icon"> check </span>
          </div>
          <div class="protection__competitors">
            <span class="material-symbols-outlined close__icon"> close </span>
          </div>
        </div>
        <div class="protection__item">
          <div class="protection__name text_bold">Income loss</div>
          <div class="protection__airbnb">
            <span class="material-symbols-outlined check__icon"> check </span>
          </div>
          <div class="protection__competitors">
            <span class="material-symbols-outlined close__icon"> close </span>
          </div>
        </div>
        <div class="protection__item">
          <div class="protection__name text_bold">Deep Cleaning</div>
          <div class="protection__airbnb">
            <span class="material-symbols-outlined check__icon"> check </span>
          </div>
          <div class="protection__competitors">
            <span class="material-symbols-outlined close__icon"> close </span>
          </div>
        </div>
        <div class="protection__item">
          <div class="protection__name">$1m USD liability insuarance</div>
          <div class="protection__airbnb">
            <span class="material-symbols-outlined check__icon"> check </span>
          </div>
          <div class="protection__competitors">
            <span class="material-symbols-outlined check__icon"> check </span>
          </div>
        </div>
        <div class="protection__item">
          <div class="protection__name">24-hour safety line</div>
          <div class="protection__airbnb">
            <span class="material-symbols-outlined check__icon"> check </span>
          </div>
          <div class="protection__competitors">
            <span class="material-symbols-outlined close__icon"> close </span>
          </div>
        </div>
        <div class="protection__comparison">
          <p>
            Comparison is based on public information and free offerings by top
            competitors as of 22/10. Find details and exclusions here.
          </p>

          <p>
            1 Our technology blocks certain bookings showing a high risk of
            disruptive parties
          </p>

          <p>2 We pay for guest damage to your home and belongings</p>

          <p>3 One-tap access to specially trained safety agents</p>
        </div>
      </section>
    </main>
    <!-- footer -->
    <footer class="host__footer">
      <div class="footer__options">
        <div class="support option__item">
          <h2>Support</h2>
          <ul>
            <li>Help Centre</li>
            <li>AirCover</li>
            <li>Supporting people with disabilities</li>
            <li>Cancellation options</li>
            <li>Our COVID-19 Response</li>
            <li>Report a neighbourhood concern</li>
          </ul>
        </div>
        <div class="community option__item">
          <h2>Community</h2>
          <ul>
            <li>Airbnb.org: disaster relief housing</li>
            <li>Combating discrimination</li>
          </ul>
        </div>
        <div class="hosting option__item">
          <h2>Hosting</h2>
          <ul>
            <li>Airbnb your home</li>
            <li>AirCover for Hosts</li>
            <li>Explore hosting resources</li>
            <li>Visit our community forum</li>
            <li>How to host responsibly</li>
          </ul>
        </div>
        <div class="airbnb option__item">
          <h2>Airbnb</h2>
          <ul>
            <li>Newsroom</li>
            <li>Learn about new features</li>
            <li>Letter from our founders</li>
            <li>Careers</li>
            <li>Investors</li>
          </ul>
        </div>
      </div>
      <div class="home__footer">
        <div class="footer__left">
          <p>&copy; 2022 Airbnb,Inc.</p>
          <span>&middot;</span>
          <a class="footer__left--item" href="/privacy">Privacy</a>
          <span>&middot;</span>

          <a class="footer__left--item" href="/terms">Terms</a>
          <span>&middot;</span>

          <a class="footer__left--item" href="/sitemaps">Sitemaps</a>
          <span>&middot;</span>

          <a class="footer__left--item" href="/about/company-details"
            >Company Details</a
          >
          <span>&middot;</span>

          <a class="footer__left--item">Destinations</a>
        </div>
        <div class="footer__right">
          <a class="footer__right--item">English (IN)</a>
          <a class="footer__right--item">INR</a>
          <a class="footer__right--item default">Support & Resources</a>
        </div>
      </div>
    </footer>
  </body>
</html>
