@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

html {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
body {
  line-height: 1.43;
  font-size: 14px;
  min-height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
}
*,
*::before,
*::after {
  box-sizing: inherit;
  margin: unset;
  padding: unset;
  letter-spacing: 0.8px;
  font-size: inherit;
}
.home__header {
  background-color: red;
  height: 90px;
  width: 100%;
  background-color: white;
  border-bottom: 0.5px solid rgb(209, 197, 197);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 50px;
  color: black;
  position: sticky;
  top: 0px;
  z-index: 2;
}
/* header logo */
.header__logo {
  align-self: flex-start;
  height: 85%;
  width: 125px;
  flex-basis: 1;
}
a {
  color: black;
  font-weight: 500;
  text-decoration: none;
}
button {
  outline: none;
  background-color: white;
  border: none;
}

/* header options */
.header__options {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  height: 100%;
  width: 350px;
  padding: 0px 10px;
  flex-basis: 1;
}
.header__options--make-airbnb-your-home {
  font-size: 15px;
  padding: 10px 20px;
}
.header__options--make-airbnb-your-home:hover {
  border-radius: 100px;
  background-color: rgba(211, 211, 211, 0.288);
}
.header__options--language-preference {
  cursor: pointer;
  background-color: white;
  border: none;
  outline: none;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 30px;
}
/* .header__options--language-preference > span {
  height: 50%;
  width: 50%;
} */
.header__options--language-preference:hover {
  background-color: rgba(168, 166, 166, 0.466);
}
.header__options--auth {
  display: flex;
  gap: 10px;
  border-radius: 100px;
  padding: 5px 10px;
  background-color: white;
  outline: none;
  border: 0.5px solid rgba(197, 195, 195, 0.459);
  position: relative;
}
.header__options--auth:hover {
  box-shadow: 0 5px 5px rgb(202, 201, 201);
  cursor: pointer;
  transition: all 0.3s;
}
.text_bold {
  font-weight: 300;
  font-size: 20px;
  color: #222222;
}
.header__options--auth-more-options {
  width: 250px;
  background-color: white;
  border-radius: 15px;
  padding: 10px 0px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  position: absolute;
  top: 80px;
  right: 75px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.auth--closed {
  display: none;
}
.auth-more-options__top,
.auth-more-options__bottom {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.auth-more-options__top > div {
  border-bottom: 0.5px solid rgba(221, 218, 218, 0.548);
}
.auth-more-options__top > button,
.auth-more-options__bottom > a {
  /* align-self: flex-start; */
  text-align: left;
  width: 100%;
  padding: 10px 20px;
}
.auth-more-options__top > button:hover,
.auth-more-options__bottom > a:hover {
  background-color: rgba(83, 81, 81, 0.548);
  cursor: pointer;
}

/* login/signup modal styles started */
/* login/signup modal styles started */
.login-signup__modal__backdrop.modal--closed {
  display: none;
}
.login-signup__modal__backdrop {
  height: 100vh;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 10;
  background-color: rgba(34, 34, 34, 0.411);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.login-signup__modal {
  z-index: 2;
  width: 700px;
  min-height: 300px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  background-color: white;
}
.login-signup__modal--header {
  display: flex;
  align-items: center;
  padding: 5px 10px;
  height: 80px;
  border-bottom: 1px solid rgba(34, 34, 34, 0.212);
}
.login-signup__modal--header > img {
  justify-self: flex-start;
}
.login-signup__modal--header > h2 {
  justify-self: center;
  margin-left: 250px;
  font-size: 20px;
}
.login-signup__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px;
}
.login-signup__form > h2 {
  font-size: 20px;
}
.login-signup__form > input {
  height: 40px;
  min-width: 75%;
  padding: 0px 10px;
  border-radius: 10px;
  outline: none;
  border: 2px solid lightgray;
}
.login-signup__form > input:focus {
  border: 2px solid lightseagreen;
}
.login-signup__form > p {
  font-size: 15px;
}
.login-signup__form > button {
  background-color: #ff385c;
  border-radius: 10px;
  padding: 10px 20px;
  color: white;
  cursor: pointer;
}
.login-signup__form--disabled {
  display: none;
}

/* footer styles started */
.home__footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 50px;
  height: 50px;
  color: grey;
  /* position: sticky;
  bottom: 0px; */
  background-color: white;
  border-top: 0.5px solid rgb(209, 197, 197);
  z-index: 2;
}

.footer__left,
.footer__right {
  display: flex;
  align-items: center;
  gap: 15px;
}
.footer__left--item,
.footer__right--item {
  height: 100%;
  font-weight: 300;
  padding: 5px 0px;
  border-bottom: 2px solid white;
  color: grey;
}
.footer__right--item.default {
  border-bottom: 2px solid black;
}
.footer__left--item:hover,
.footer__right--item:hover {
  cursor: pointer;
  border-bottom: 2px solid black;
}
/* main */
.main {
  padding: 20px 100px;
}
.main > div {
  padding: 15px 0px;
  margin: 10px 0px;
}

.room__basics {
  height: 100px;
}
.room__excerpt--data {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.room__image {
  display: grid;
  gap: 5px;
  grid-template-columns: repeat(4, 300px);
  grid-template-rows: repeat(2, 150px);
  height: 300px;
}
.room__image > img {
  border-radius: inherit;
  object-fit: cover;
  object-position: center center;
  height: 100%;
  width: 100%;
}
.room__image > img:nth-child(1) {
  border-radius: 10px 0px 0px 10px;
  grid-column: 1 / span 2;
  grid-row: 1 / span 2;
}
.room__image > img:nth-child(3) {
  border-radius: 0px 10px 0px 0px;
}

.room__image > img:nth-child(5) {
  border-radius: 0px 0px 10px 0px;
}
.room__amenities {
  width: 100%;
  display: flex;
  gap: 100px;
  align-items: center;
  justify-content: space-between;
}
.room__amenities--left{
  width: 50%;
  height: 300px;
}
.room__amenities--right{
  width: 50%;
  border-radius: 10px;
  border: 1px solid lightgray;
  min-height: 300px;
  padding: 20px 40px; 
}
.amenities__price{
  display: flex;
  margin: 5px 0px;
}
.amenities__checkin__checkout{
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  height: 100px;
  width: 100%;
}
.checkin__checkout{
  display: flex;
  gap: 10px;
  align-items: center;
  width: 100%;
}
.checkin__checkout .input__element{
  height: 100%;
  width: 50%;
  border-radius: 10px;
  padding: 3px 5px;
  display: flex;
  flex-direction: column;
  border: 2px solid black;
}
.checkin__checkout .input__element > input {
  height: 120%;
  outline: none;
  border: none;
}
.room__guests{
  height: 100%;
  width: 100%;
  border-radius: 10px;
  border: 2px solid black;
}
.room__guests .input__element {
  padding: 0px 10px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.room__guests .input__element > select {
  border: none;
  outline: none;
}
.amenities__reserve{
  height: 50px;
  width: 100%;
}
.amenities__reserve > button {
  margin: 3px 0px;
  height: 100%;
  width: 100%;
  background-color: #ff385c;
  border-radius: 10px;
  color: white;
  cursor: pointer;
}
.amenities__reserve > button:disabled {
  cursor: not-allowed;
  background-color: lightgray;
  color: black
}
.amenities__price__calculation {
display: flex;
flex-direction: column;
gap: 4px;
border-bottom: 1px solid lightgray;
}
.price__calculation__item{
  width: 100%;
  display: flex;
  justify-content: space-between;

}
.price__calculation__item__left{
  display: flex;
  align-items: center;
  width: 50%;
  gap: 5px;
}

.amenities__not__charged{
  margin: 5px 0px;
  text-align: center;
  font-size: 12px;
  color: gray;
}
.amenities__tax{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.amenities__flex {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.amenities__left > p,
.amenities__right > p {
  font-size: 15px;
  letter-spacing: 1;
  padding: 10px 0px;
}
/* reserve div */

.room__maintenance--reviews {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 30px;
}
.maintenance__left,
.maintenance__right {
  width: 50%;
}
.maintenance__left > p,
.maintenance__right > p {
  font-size: 15px;
  letter-spacing: 1;
  padding: 10px 0px;
}
.maintenance__left > p > span,
.maintenance__right > p > span {
  margin-left: 20px;
}
.room__actual--reviews{
  display: grid;
  padding-top: 20px; 
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  gap: 20px;
}

.review__excerpt > p{
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 1px;
}
.room__hosted__by{
  min-height: 100px;
  width: 100%;
}
.hosted__by{
  display: flex;
  gap: 20px;
  width: 100%;
}
.hosted__by--left,
.hosted__by--right{
width: 50%;
}
.hosted__by--left > p,
.hosted__by--right > p{
padding: 10px 0px;
font-size: 15px;
}

/* utility classes */
h1 {
  font-size: 30px;
}
div > h2 {
  padding: 20px 0px;
  font-size: 20px;
}
.display__flex__baseline{
  display: flex; 
  justify-content: baseline; 
  align-items: center"
}
/* error style */

.error {
  display: none;
  background-color: lightcoral;
  color: white;
  padding: 5px 0px;
  text-align: center;
  animation: error 5s;
  width: 100%;
  position: sticky;
  top: 0;
  left: 0;
}

@keyframes error {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
